*{
    margin: 0;
    padding: 0;
}

body{
    background: #FFFDFF;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER/MENU */

.App-header{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}

.App-header-logo{
    display: flex;
    align-items: center;
}

.App-logo {
    height: 75px;
    pointer-events: none;
}

#App-brand{
    font-size: 30px;
}

.App-btn{
    padding: 10px;
    text-decoration: none;
    margin-bottom: 15px;
    cursor: pointer;
}

.App-btn-green{
    color: #EEEEEE;
    background: #1F871A;
}

.App-btn-black{
    color: #EEEEEE;
    background: black;
}

.App-input{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#App-header-menu{
    display: flex;
    justify-items: center;
}

#App-header-menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#App-header-menu ul li{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

#App-header-menu ul li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}

#App-header-menu ul li a:hover{
    color: #61dafb;
}

.active{
    border-bottom: 2px solid #3cb2d3;
}

/* SLIDER */

#App-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background: #61dafb;
}

#App-slider h2{
    color: #f7f7f7;
    margin: 0;
    font-size: 2rem;
}

/* MAIN CONTENT */

#App-main-content{
    display: flex;
    justify-content: space-around;
    padding: 40px 40px 0 40px;
}

/* CONTENT */

#App-content{
    width: 75%;
}

#App-content p{
    margin-bottom: 20px;
}

#subtitle{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

h4{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

/* PELICULAS */

#pelicula{
    display: flex;
    margin-bottom: 20px;
}

#pelicula img{
    width: 30%;
    height: 30%;
}

#pelicula-content{
    margin-left: 20px;
}

#pelicula-content h3{
    margin-bottom: 15px;
}

#pelicula-content a{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* SIDEBAR */

#App-sidebar{
    width: 25%
}

/* SEARCH */

#App-search{
    min-width: 300px;
    background: #f7f7f7;
    margin-bottom: 20px;
}

#App-search h3{
    padding: 15px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

#App-search label{
    margin-bottom: 20px;
}

#App-search input{
    margin-bottom: 20px;
}

/* TODO */

#App-todo{
    min-width: 300px;
    background: #f7f7f7;
    margin-bottom: 20px;
}

#App-todo h3{
    padding: 15px;
    text-align: center;
    color: #333333;
}

/* FOOTER */

#App-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    height: 75px;
}

/*MEDIA QUERYS Y KEYFRAMES*/

@media (max-width: 1135px) {
    #App-main-content{
        display: inline-block;
        padding: 40px 0 0 0 !important;
    }
    #App-sidebar{
        width: 100% !important;
    }
    #App-content{
        width: 100% !important;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}